@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #132B47;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
}
.container {
    background-color: #FFFFFF;
    border-radius: 7px;
    overflow: hidden;
    max-width: 100%;
    width: 400px;
}
.header {
    background-color: #F7F7F7;
    border-bottom: 1px solid #F0F0F0;
    padding: 20px 40px;
}
.form {
    padding: 30px 40px;
}
.input-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.input-control label {
    display: inline-block;
    font-weight: 300;
    margin-bottom: 5px;
}
.input-control input {
    border: 2px solid #F0F0F0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.input-control input:focus {
    outline: 0;
    border-color: #777;
}
.input-control.success input {
    border-color: #42A6C8;
}
.input-control.error input {
    border-color: #E74C3C;
}
.input-control .error {
    color: #FF3860;
    font-size: 9px;
    height: 13px;
}
.form button {
    color: #FFF;
    background-color: #132B47;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-family: inherit;
    margin-top: 20px;
    padding: 10px; 
    width: 100%;
}